@charset "utf-8";
/* wrriten by xiangpaopao */

/* YUI reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border: 0;
}
a {
	text-decoration:none;
}
/* main */
body {
	background:url(../img/bg.jpg) repeat;
	font: 14px/1.5 Tahoma, Arial, "\5b8b\4f53", sans-serif;
}
#topBar {
	width:100%;
	height:48px;
	background:#504a19;
}
.h30 {
	width:100%;
	height:30px;
}
.h15 {
	width:100%;
	height:15px;
}
.lkBox {
	width:960px;
	height:48px;
	margin:0 auto;
}
.clear {
	clear:both;
}
.lkBox a {
	color:#ffead2;
	font-size:24px;
	font-weight:bold;
	line-height:48px;
	float:right;
	margin:0 10px;
	font-family:"Lucida Sans", "Lucida Console", "Lucida Sans Unicode", "Lucida Grande";
}
#wrapper {
	width:960px;
	margin:0 auto;
}
#logoBar {
	background:url(../img/bar.png) no-repeat;
	width:960px;
	height:120px;
}
#logo {
	position:relative;
	left:376px;
	top:-21px;
	width:176px;
	height:174px;
}
#banner {
	width:938px;
	height:314px;
	padding:11px;
}
.bgStyle {
	background:url(../img/bgColor2.png);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;
}
#bannerImg {
	width:938px;
	height:314px;
}
#content {
	width:960px;
	margin:50px 0 0 0;
}
#conL {
	width:705px;
	float:left;
}
#conR {
	width:245px;
	float:right;
}
.food {
	width:220px;
	margin:10px 15px 5px 0;
	float:left;
}
.foodBox {
	width:200px;
	height:140px;
	padding:10px;
}
.foodName {
	text-indent:1.5em;
	background:url(../img/hua.png) no-repeat;
	color:#504a19;
	font-size:14px;
	line-height:18px;
	height:18px;
	margin:8px 0 0 0;
}
.price {
	color:#504a19;
	float:left;
	font-size:14px;
	height:18px;
	height:18px;
	font-weight:bold;
}
.buyBt {
	color:#504a19;
	float:right;
	font-size:14px;
	height:18px;
	display:block;
	height:18px;
	cursor:pointer;
	font-weight:bold;
	border-bottom:1px #504a19 solid;
}
#ttBar1 {
	width:78px;
	height:20px;
	background:url(../img/tt1.png) no-repeat;
}
#ttBar2 {
	margin-top:30px;
	width:78px;
	height:20px;
	background:url(../img/tt2.png) no-repeat;
}
#ttBar3 {
	margin-top:30px;
	width:78px;
	height:20px;
	background:url(../img/tt3.png) no-repeat;
}
#ttBar4 {
	margin:30px 0 15px 0;
	width:78px;
	height:20px;
	background:url(../img/tt4.png) no-repeat;
}
#ttBar5 {
	width:78px;
	height:20px;
	background:url(../img/tt5.png) no-repeat;
}
#userInfo td {
	color:#504a19;
	font-size:16px;
	line-height:40px;
}
#userInfo select {
	color: #514b19;
	background:url(../img/bgColor1.png);
	height:28px;
	border: rgba(66, 61, 13, .5) 1px solid;
	font-size:16px;
	line-height:28px;
}
#userInfo tr {
	height:40px;
}
.y {
	font-size:16px;
	line-height:28px;
	color: #514b19;
	background:url(../img/bgColor1.png);
	width:300px;
	height:28px;
	border: rgba(66, 61, 13, .5) 1px solid;
}
#footer {
	background:url(../img/ftbg.png) repeat-x;
	width:100%;
	height:45px;
	font-size:14px;
	color:#9a935f;
	line-height:40px;
	text-align:center;
	margin-top:50px;
}
.addBt, .removeBt {
	font-size:20px;
	height:20px;
	line-height:20px;
	width:20px;
	display:block;
	color: #514b19;
	background:url(../img/bgColor2.png);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
	cursor:pointer;
	float:right;
	margin:0 0 0 12px;
	text-align:center;
	vertical-align:middle;
}
#ordersBox{
	width:225px;
	padding:5px 10px;
	margin:15px 0 0 0;
}
.orderData{
	margin:5px 0;
}
.orderPrice {
	float:right;
	margin-left:5px;
}
.orderName {
	float:left;
}
.num {
	float:right;
	margin-left:6px;
}
#submitBt{
	color:#504a19;
	float:right;
	font-size:14px;
	height:18px;
	background:none;
	cursor:pointer;
	font-weight:bold;
	border:none;
	border-bottom:1px #504a19 solid;
}
